{% extends "base.html" %}

{% block title %}Archive{% endblock title %}

{% block content %}
<h1 class="text-center">{{ self.title() }}</h1>
<div class="catalog catalog-variant">
    {% for year, bundles in bundles|groupby("year")|reverse %}
    <section class="box box-variant box-container">
        <h2 class="text-center">{{ year }} ({{ (bundles|first)["game_count"] }} games):</h2>
        <div>
            {% for month, bundles in bundles|groupby("month") %}
            <div class="row-container">
                <p>{{ month|month_text }}</p>
                <p>
                    {% for bundle in bundles %}
                    <a href="{{ url_for("view", datestamp=bundle["datestamp"]) }}">{{ bundle["week"] }}</a>
                    {{- " /" if not loop.last }}
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</div>
{% endblock content %}
