{% extends "base.html" %}
{% import "macros.html" as macros %}

{% set datestamps = bundles|map(attribute="datestamp")|unique|reverse %}

{% block title %}{{ (bundles|first)["title"] }}{% endblock title %}

{% block content %}
<h1 class="text-center">{{ self.title() }}</h1>
<div class="catalog">
    {% call(datestamp) macros.pagination(datestamps, page) %}
    {{
        macros.catalog_item(
            bundles|selectattr("datestamp", "==", datestamp)|list,
            datestamp|datestamp_text,
            url_for("view", _anchor=(bundles|first)["game_id"]|string, datestamp=datestamp)
        )|indent
    }}
    {% endcall %}
</div>
{% endblock content %}

{% block pagination_drawer %}{{ macros.pagination_drawer(datestamps, page) }}{% endblock pagination_drawer %}
