{% extends "base.html" %}
{% import "macros.html" as macros %}

{% set datestamps = rows|map(attribute="unix")|map("decode_unix")|unique|list %}

{% block title %}{{ game_data["title"] }}{% endblock title %}

{% block content %}
<h1 class="text-center">{{ self.title() }}</h1>
<div class="catalog">
    {% call(datestamp) macros.pagination(datestamps, page) %}
    {{
        macros.catalog_item(
            rows|selectattr("unix", "matches_datestamp", datestamp)|reverse,
            datestamp|semantic_datestamp,
            url_for("view", _anchor=game_data["id"], datestamp=datestamp)
        )|indent
    }}
    {% endcall %}
</div>
{% endblock content %}

{% block pagination_drawer %}{{ macros.pagination_drawer(datestamps, page) }}{% endblock pagination_drawer %}
