{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1 class="text-center">/agdg/ Weekly Recap</h1>
<section class="box-container">
    <div class="box">
        <h2 class="text-center"><a href="{{ url_for("view", datestamp=datestamp) }}">{{ datestamp|datestamp_text }}</a></h2>
    </div>
    <section class="box box-variant box-container">
        <h2 class="text-center">Information:</h2>
        <p class="text-raw">Each week begins on Monday at 12am, UTC. To have your game included, make a post in the expected format, e.g.

            :: (Title) :: (Progress)

            :: (Title) ::
            (Progress)

            :: (Title) -> (New Title) ::
            Dev ::
            Tools ::
            Web ::
            (Progress)

            Dev, Tools, Web are all optional and limited to one line each. They can be omitted if you aren't updating them. A file attachment is also optional, but recommended.
        </p>
    </section>
</section>
{% endblock content %}
