{% set per_page = 24 %}

{% macro pagination(items, page) %}
{% for item in (items|batch(per_page)|list)[page - 1] %}
{{ caller(item) }}
{%- endfor %}
{% endmacro %}

{% macro pagination_drawer(items, page, search=None) %}
{% set pages = items|batch(per_page)|list|length %}
{% if pages > 1 %}
<ol id="pagination" class="list-container">
    {% set delta = 4 %}
    {% for i in range([1, page - delta]|max, [pages, page + delta]|min + 1) %}
    <li>
        {% if i == page %}
        <span class="pagination-active">
            {{ pagination_drawer_link(i, search) }}
        </span>
        {% else %}
        {{ pagination_drawer_link(i, search) }}
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endif %}
{% endmacro %}

{% macro pagination_drawer_link(page, search) %}
<h2><a href="{{ url_for(request.endpoint, page=page, search=search, **request.view_args) }}">{{ page }}</a></h2>
{%- endmacro %}

{% macro media(bundle) %}
{% set filename = "%(datestamp)s/%(filename)s" % bundle if bundle["filename"] else "default.png" %}
{% set url = url_for("static", filename=filename) %}
<a class="media-container" href="{{ url }}">
    {% set class = "media catalog-media" %}
    {% if filename.endswith(".webm") %}
    <video class="{{ class }}" src="{{ url }}" autoplay muted loop></video>
    {% else %}
    <img class="{{ class }}" src="{{ url }}" alt="">
    {% endif %}
</a>
{%- endmacro %}

{% macro catalog_item(bundles, title, title_url) %}
<article id="{{ (bundles|first)["game_id"] }}" class="box-container">
    {% for bundle in bundles %}
    {% if loop.first %}
    <section class="box box-container">
        <h2 class="text-center"><a href="{{ title_url }}">{{ title }}</a></h2>
        {% set keys = GAME_KEYS|select("in", bundle)|list %}
        {% if keys %}
        <table>
            {% for key in keys %}
            <tr>
                <td class="catalog-key"><p>{{ key|capitalize }}:</p></td>
                <td><p>{{ bundle[key]|urlize|safe }}</p></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </section>
    {% endif %}
    {{ media(bundle)|indent }}
    {% if bundle["progress"] %}
    <div class="box box-variant">
        <p>{{ bundle["progress"]|urlize|safe }}</p>
    </div>
    {% endif %}
    {% endfor %}
</article>
{%- endmacro %}
