{% extends "base.html" %}

{% block title %}Rankings{% endblock title %}

{% block content %}
<h1 class="text-center">{{self.title()}}</h1>
<div class="catalog catalog-variant">
    {% for rank in bundles | map(attribute="rank") | unique %}
    <section class="box box-variant box-container">
        <h2 class="text-center">{{rank | capitalize}}:</h2>
        <div>
            {% for bundle in bundles | selectattr("rank", "==", rank) %}
            <div class="row-container">
                <p class="text-no-overflow"><a href="{{url_for("game", game_id = bundle["game_id"])}}">{{bundle["title"]}}</a></p>
                <p>{{bundle["score"]}}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</div>
{% endblock content %}
