:root {
    --color-background: #1f1f1f;
    --color-surface: #28292a;
    --color-font: #e3e3e3;
    --font-family: Inter, sans-serif;
    --font-body-size: 1rem;
    --font-body-weight: 400;
    --font-body-line-height: 1.5rem;
    --font-headline-size: 1.5rem;
    --font-headline-line-height: 2rem;
    --font-display-size: 2.8125rem;
    --font-display-line-height: 3.25rem;
    --gap-content: 3.125rem;
    --width-catalog-entry: 26rem;
}

body {
    background: var(--color-background);
    color: var(--color-font);
    font: var(--font-body-weight) var(--font-body-size)/var(--font-body-line-height) var(--font-family);
}

h1 {
    font-size: var(--font-display-size);
    line-height: var(--font-display-line-height);
}

h2 {
    font-size: var(--font-headline-size);
    line-height: var(--font-headline-line-height);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-content);
    padding: var(--gap-content);
}

.media {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--width-catalog-entry));
    justify-content: center;
    width: 100%;
    gap: var(--gap-content);
}

.catalog-media {
    height: calc(var(--width-catalog-entry) / (16 / 9));
}
