{% extends "base.html.jinja" %}

{% block title %}Archive{% endblock title %}

{% block content %}
<h1 class="title">{{self.title()}}</h1>
{% for year, datestamps in datestamps | groupby("year") | reverse %}
<article>
    <h2>{{year | full_year}}</h2>
    {% for month, datestamps in datestamps | groupby("month") | reverse %}
    <section>
        <h2>{{month | calendar_month}}</h2>
        {% for datestamp in datestamps | reverse %}
        <p><a href="{{url_for("view", datestamp = datestamp.values() | join)}}">week {{datestamp["week"]}}</a></p>
        {% endfor %}
    </section>
    {% endfor %}
</article>
{% endfor %}
{% endblock content %}
