{% extends "base.html" %}
{% block title %}Archive{% endblock title %}
{% block display %}{{ self.title() }}{% endblock display %}
{% block content %}
{% for year, datestamps in recaps|groupby("year")|reverse %}
<article>
    <h2>{{ 2000 + year|int }}</h2>
    {% for month, datestamps in datestamps|groupby("month")|reverse %}
    <section>
        <h2>{{ month|month_name|lower }}</h2>
        {% for datestamp in datestamps|reverse %}
        <p><a href="{{ url_for("view", datestamp = datestamp.values()|join) }}">week {{ datestamp["week"] }}</a></p>
        {% endfor %}
    </section>
    {% endfor %}
</article>
{% endfor %}
{% endblock content %}
