<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
        <link rel="stylesheet" href="{{ url_for("static", filename="reset.css") }}"/>
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"/>
        <title>{% block title %}{% endblock title %} | Recap</title>
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for("index") }}">home</a></li>
        </ul>
        <div id="content">
            {% filter indent(width = 12, first = True) %}
            {% block content %}
            {% endblock content %}
            {% endfilter %}
        </div>
    </body>
</html>
