{% macro paginate(rows, endpoint, current_page = 1, per_page = 20, seek = 4) %}
{% set pages = rows|batch(per_page)|list %}
{% for row in pages[current_page - 1] %}
{{ caller(row) }}
{%- endfor %}
<ol>
    {% for i in range([1, current_page - seek]|max, [pages|length, current_page + seek]|min + 1) %}
    <li><a href="{{ url_for(endpoint, page = i) }}">{{ i }}</a></li>
    {% endfor %}
</ol>
{% endmacro %}
{% macro media(row, class_prefix) %}
{% set datestamp = row["unix"]|decode_unix %}
{% set class = ("media %s" % (class_prefix ~ "-media" if class_prefix))|trim %}
{% set url = url_for("static", filename = ("%s/%s" % (datestamp, row["unix"] ~ row["ext"])) if row["ext"] else "default.png") %}
<a href="{{ url }}">
    {% if row["ext"] == ".webm" %}
    <video class="{{ class }}" src="{{ url }}" autoplay muted loop></video>
    {% else %}
    <img class="{{ class }}" src="{{ url }}" alt="{{ "%s/%s" % (datestamp, row["title"].split()|join) }}">
    {% endif %}
</a>
{%- endmacro %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
        <link rel="stylesheet" href="{{ url_for("static", filename="reset.css") }}"/>
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"/>
        <title>{% block title %}{% endblock title %} | Recap</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for("index") }}">home</a></li>
                    <li><a href="{{ url_for("archive") }}">archive</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="content">
                {% filter indent(16, True) %}
                {% block content %}{% endblock content %}
                {% endfilter %}
            </section>
        </main>
    </body>
</html>
