<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
        <link rel="stylesheet" href="{{url_for("static", filename="reset.css")}}"/>
        <link rel="stylesheet" href="{{url_for("static", filename="style.css")}}"/>
        <title>{% block title %}{% endblock title %} | Recap</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul id="navigation">
                    {% for endpoint in ["index", "archive", "games"] %}
                    <li>
                        <h2><a href="{{url_for(endpoint)}}">{{endpoint | replace("index", "home") | capitalize}}</a></h2>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main id="container">
            <section id="content">
                {% filter indent(16, self.content()) %}
                {% block content %}{% endblock content %}
                {% endfilter %}
            </section>
            {% filter indent(12, self.pagination_drawer()) %}
            {% block pagination_drawer %}{% endblock pagination_drawer %}
            {% endfilter %}
        </main>
    </body>
</html>
