{% extends "base.html.jinja" %}

{% block title %}Error: {{http_exception["code"]}}{% endblock title %}

{% block content %}
<h1>{{"%s: %s" % (http_exception["code"], http_exception["name"])}}</h1>
{% endblock content %}
