{% extends "base.html.jinja" %}

{% import "macros.jinja" as macros %}

{% block title %}Games{% endblock title %}

{% block content %}
<h1>{{self.title()}}</h1>
<div class="catalog">
    {% call(row) macros.pagination(rows, page) %}
    <article class="catalog-entry">
        <h2 class="catalog-title">{{row["title"]}}</h2>
        <table>
            {% for field in ["dev", "tools", "web"] %}
            <tr>
                <td class="catalog-field"><p>{{field | capitalize}}:</p></td>
                <td><p>{{row[field]}}</p></td>
            </tr>
            {% endfor %}
        </table>
        {{macros.media(row, "catalog") | indent(8)}}
    </article>
    {% endcall %}
</div>
{{macros.pagination_drawer(rows, page, "games")}}
{% endblock content %}
