{% extends "base.html.jinja" %}

{% import "macros.jinja" as macros %}

{% block title %}{{game_data["title"]}}{% endblock title %}

{% block content %}
<h1>{{self.title()}}</h1>
<div class="catalog">
    {% for datestamp in rows | map(attribute = "unix") | map("decode_unix") | unique %}
    {{
        macros.catalog_entry(rows | selectattr("unix", "matches_datestamp", datestamp),
        datestamp | semantic_datestamp,
        url_for("view", datestamp = datestamp)) | indent
    }}
    {% endfor %}
</div>
{% endblock content %}
