{% extends "base.html.jinja" %}

{% import "macros.jinja" as macros %}

{% block title %}{{game_data["title"]}}{% endblock title %}

{% block content %}
<div class="catalog-content">
    <h1 class="text-center">{{self.title()}}</h1>
    {% if game_data is nonempty_field_data %}
    <div class="content-box">
        {{macros.field_data(game_data) | indent(8)}}
    </div>
    {% endif %}
</div>
{% set datestamps = rows | map(attribute = "unix") | map("decode_unix") | unique | list %}
<div class="catalog">
    {% call(datestamp) macros.pagination(datestamps, page) %}
    {{
        macros.catalog_entry(
            rows | selectattr("unix", "matches_datestamp", datestamp),
            datestamp | semantic_datestamp,
            url_for("view", datestamp = datestamp)
        ) | indent
    }}
    {% endcall %}
</div>
{% block pagination_drawer scoped %}{{macros.pagination_drawer(datestamps, page)}}{% endblock pagination_drawer %}
{% endblock content %}
