{% extends "base.html.jinja" %}

{% import "macros.jinja" as macros %}

{% block title %}Games{% endblock title %}

{% block content %}
<h1 class="text-center">{{self.title()}}</h1>
{% set titles = rows | map(attribute = "title") | list %}
<div class="catalog">
    {% call(title) macros.pagination(titles, page) %}
    {{macros.catalog_entry_common(rows, title)}}
    {% endcall %}
</div>
{% block drawer scoped %}{{macros.pagination_drawer(titles, page)}}{% endblock drawer %}
{% endblock content %}
