{% extends "base.html.jinja" %}

{% import "macros.jinja" as macros %}

{% block title %}{{game_data["title"]}}{% endblock title %}

{% block content %}
<h1 class="text-center">{{self.title()}}</h1>
{% set datestamps = rows | map(attribute = "unix") | map("decode_unix") | unique | list %}
<div class="catalog">
    {% call(datestamp) macros.pagination(datestamps, page) %}
    {{
        macros.catalog_entry(
            rows | selectattr("unix", "matches_datestamp", datestamp),
            datestamp | semantic_datestamp,
            url_for("view", datestamp = datestamp)
        ) | indent
    }}
    {% endcall %}
</div>
{% block drawer scoped %}{{macros.pagination_drawer(datestamps, page)}}{% endblock drawer %}
{% endblock content %}
