{% extends "base.html.jinja" %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1 class="text-center">/agdg/ Weekly Recap</h1>
<section class="box-container">
    <div class="box">
        <h2 class="text-center"><a href="{{url_for("view", datestamp = datestamp)}}">Now: {{datestamp | semantic_datestamp}}</a></h2>
    </div>
    <section class="box box-variant">
        <h2 class="text-center">Information:</h2>
        <p class="text-raw">
            Each week begins on Monday at 12 AM, UTC. Post format:

            :: (Title) ::
            Dev ::
            Tools ::
            Web ::
            (Progress)

            Dev, Tools, and Web are optional fields. If no file is attached to the post, a default image will be used. To update your game's title, use the following syntax:

            :: (Title) -> (New Title) ::
        </p>
    </section>
</section>
{% endblock content %}
