{% set per_page = 20 %}

{% macro pagination(rows, page) %}
{% for row in (rows | batch(per_page) | list)[page - 1] %}
{{caller(row)}}
{%- endfor %}
{% endmacro %}

{% macro pagination_drawer(rows, page, delta = 4) %}
{% set pages = rows | batch(per_page) | list | length %}
{% if pages > 1 %}
<ol>
    {% for i in range([1, page - delta] | max, [pages, page + delta] | min + 1) %}
    <li><a href="{{url_for(request.endpoint, page = i, **request.view_args)}}">{{i}}</a></li>
    {% endfor %}
</ol>
{% endif %}
{% endmacro %}

{% macro media(row, class_prefix) %}
{% set datestamp = row["unix"] | decode_unix %}
{% set class = "media" %}
{% set class = "%s %s-media" % (class, class_prefix) if class_prefix else class %}
{% set url = url_for("static", filename = ("%s/%s" % (datestamp, row["unix"] ~ row["ext"])) if row["ext"] else "default.png") %}
<a href="{{url}}">
    {% if row["ext"] == ".webm" %}
    <video class="{{class}}" src="{{url}}" autoplay muted loop></video>
    {% else %}
    <img class="{{class}}" src="{{url}}" alt="">
    {% endif %}
</a>
{%- endmacro %}

{% macro catalog_entry(rows, title, title_url) %}
<article class="catalog-content">
    {% for row in rows %}
    {% if loop.first %}
    <div class="catalog-header catalog-content">
        <h2 class="catalog-title"><a href="{{title_url}}">{{title}}</a></h2>
        {% if [row["dev"], row["tools"], row["web"]] | join %}
        <table>
            {% for field in ["dev", "tools", "web"] if row[field] %}
            <tr>
                <td class="catalog-field"><p>{{field | capitalize}}:</p></td>
                <td><p>{{row[field]}}</p></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% endif %}
    {{media(row, "catalog") | indent}}
    {% if row["progress"] %}
    <p>{{row["progress"]}}</p>
    {% endif %}
    {% endfor %}
</article>
{%- endmacro %}
