{% set per_page = 20 %}

{% macro pagination(rows, page) %}
{% for row in (rows | batch(per_page) | list)[page - 1] %}
{{caller(row)}}
{%- endfor %}
{% endmacro %}

{% macro pagination_drawer(rows, page, endpoint, delta = 4) %}
<ol>
    {% for i in range([1, page - delta] | max, [rows | batch(per_page) | list | length, page + delta] | min + 1) %}
    <li><a href="{{url_for(endpoint, page = i)}}">{{i}}</a></li>
    {% endfor %}
</ol>
{%- endmacro %}

{% macro media(row, class_prefix) %}
{% set datestamp = row["unix"] | decode_unix %}
{% set class = "media" %}
{% set class = "%s %s-media" % (class, class_prefix) if class_prefix else class %}
{% set url = url_for("static", filename = ("%s/%s" % (datestamp, row["unix"] ~ row["ext"])) if row["ext"] else "default.png") %}
<a href="{{url}}">
    {% if row["ext"] == ".webm" %}
    <video class="{{class}}" src="{{url}}" autoplay muted loop></video>
    {% else %}
    <img class="{{class}}" src="{{url}}" alt="">
    {% endif %}
</a>
{%- endmacro %}

{% macro catalog_entry(rows, title) %}
<article class="catalog-entry">
    <h2 class="catalog-title">{{title}}</h2>
    {% for row in rows | selectattr("title", "==", title) %}
    <table>
        {% for field in ["dev", "tools", "web"] %}
        <tr>
            <td class="catalog-field"><p>{{field | capitalize}}:</p></td>
            <td><p>{{row[field]}}</p></td>
        </tr>
        {% endfor %}
    </table>
    {{media(row, "catalog") | indent}}
    {% if row["progress"] is defined %}
    <p>{{row["progress"]}}</p>
    {% endif %}
    {% endfor %}
</article>
{%- endmacro %}
