{% extends "base.html.jinja" %}

{% import "macros.jinja" as macros %}

{% block title %}View: {{datestamp}}{% endblock title %}

{% block content %}
<h1>{{datestamp}}</h1>
<div class="catalog">
    {% for title in titles %}
    {{macros.catalog_entry(rows, title) | indent}}
    {% endfor %}
</div>
{% endblock content %}
